/* ================== contact.css ==================== */

.header {
    position: static;
    background-color: rgba(0, 0, 0, .8);
}

.main_form {
    width: 70%;
    margin: 5% auto;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.bgc {
    background-color: #eaeaea;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 1%;
    margin: 1% 0;
    font-size: 16px;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

.form_content h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 16px 0;
}

.form_content form {
    margin: 3%;
}

.color1 {
    color: red;
}

.form_content dt input,
textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 2.5px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.form_dl {
    margin: 2% 0;
}

label {
    line-height: 1.8;
}

.contact_btn {
    width: 100%;
    border: none;
    margin-top: 1%;
    background-color: rgb(215, 4, 102);
    padding: 10px 2.5px;
    border-radius: 5px;
}


/* ================== confirm.css ==================== */

.confirm dt {
    margin-top: 1rem;
    border-bottom: 1px solid #ccc;
    line-height: 1.4;
}

.confirm dd {
    padding: 1%;
    font-size: 19px;
    line-height: 1.5;
}

.mit_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mit_btm .contact_btn {
    margin-top: 0;
    color: #fff;
}

.mit_btm input {
    width: 48%;
    font-size: 19px;
    padding: 10px 2.5px;
    letter-spacing: 30px;
}

.return_btn {
    background-color: #fff;
    color: #066;
    border: 2px solid #066;
    border-radius: 8px;
}


/* ================== complete.css ==================== */

.complete_content {
    margin: 3%;
}

.complete_content a {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    color: #551A8B;
}
